.App {
  width: 80%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}


.App-link {
  color: #61dafb;
}

header{
  position: sticky;
  top: 0;
}

.citiesList
{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.cityTab
{
  margin-left: 5px;
  margin-right: 5px;
}
