.tile
{
    border: 6px double rgb(14, 36, 10);;
    min-width: 200px;
    border-radius: 6px;
    background-color: white;/* rgb(14, 36, 10); */
    color: rgb(14, 36, 10);
    margin-top: 10px;
    margin-bottom: 10px;

    -webkit-box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.75);
}

.title
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lab 
{
    flex: 1 100%;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}
  
.lab:nth-of-type(3) {
    flex: 0.2;
}

.delete
{
    visibility: hidden;
    width: 20px;
    margin: auto;
    display: block;
}

.tile:hover .delete
{
    visibility: visible;
}

.weatherState
{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 70px;
    border-top: 2px solid rgb(14, 36, 10);
}

.weatherState__lab
{
    flex: 1 100%;
    margin: center;
}

.params
{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 80px;
    border-top: 2px solid rgb(14, 36, 10);
}





